<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drive Add</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/reset.css"/>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="header__nav nav">
            <div class="header-name"><a href="/">HOME</a></div>
            <ul class="nav__list">
                <li class="nav__item"><a href="/seeDrives" class="nav__link">DRIVES</a></li>
                <li class="nav__item"><a href="/seeClients" class="nav__link">CLIENTS</a></li>
                <li class="nav__item"><a href="/addDrive" class="nav__link">ADD DRIVE</a></li>
                <li class="nav__item"><a href="/addOffence" class="nav__link">OFFENCES</a></li>
                <li class="nav__item"><a href="/findSumKm" class="nav__link">FIND KM</a></li>
                <li class="nav__item"><a href="/seePark" class="nav__link">PARK</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="home">
    <div class="container">
        <div class="task-heading">Add offence</div>
        <form action="/addOffence" method="post">
            <div class="text-field">
                <label class="text-field__label" for="clientId">Client id</label>
                <input class="text-field__input" type="text" name="clientId" id="clientId" required>
                <label class="text-field__label" for="offence">Offence</label>
                <input class="text-field__input" type="number" name="offence" id="offence" required>
            </div>
            <button type="submit" href="/showOffence" class="btn">Add</button>
        </form>
    </div>
</div>
</body>
</html>