<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Меню</title>
    <link rel="stylesheet" href="/reset.css"/>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="header__nav nav">
            <div class="header-name"><a href="/">HOME</a></div>
            <ul class="nav__list">
                <li class="nav__item"><a href="/seeDrives" class="nav__link">View all drives</a></li>
                <li class="nav__item"><a href="/seeClients" class="nav__link">View all clients</a></li>
                <li class="nav__item"><a href="/addDrive" class="nav__link">Add drive</a></li>
                <li class="nav__item"><a href="/addOffence" class="nav__link">Offences</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="home">
    <div class="container">
        <div class="task-heading">Variant 1</div>
        <div class="task-text">
            <p>Theme: Carsharing</p>
            <div class="task-steps">
                <p>Options:</p>
                <p>- Add new drive by client id</p>
                <p>- Add offence by client id</p>
                <p>- Information of clients</p>
                <p>- Information of drives </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>