<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Статистика</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/reset.css"/>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="header__nav nav">
            <div class="header-name"><a href="/">HOME</a></div>
            <ul class="nav__list">
                <li class="nav__item"><a href="/seeDrives" class="nav__link">View all drives</a></li>
                <li class="nav__item"><a href="/seeItems" class="nav__link">View all clients</a></li>
                <li class="nav__item"><a href="/addDrives" class="nav__link">Add drive</a></li>
                <li class="nav__item"><a href="/addOffence" class="nav__link">Offences</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="home">
    <div class="container">
        <div class="task-heading">INFO FROM DB</div>
        <table class="table">
            <tr>
                <th>Drive ID</th>
                <th>Client ID</th>

            </tr>
            <div th:each="el : ${drives}">
                <tr>
                    <td><p th:text="${el.driveId}"/></td>
                    <td><p th:text="${el.clientId}"/></td>
                    <td>
                        <form th:action="'/seeDrives/'+ ${el.driveId}" method="post">
                            <button class="btn-del" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</div>
</body>
</html>