<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>INFO FROM DB</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/reset.css"/>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="header__nav nav">
            <div class="header-name"><a href="/">HOME</a></div>
            <ul class="nav__list">
                <li class="nav__item"><a href="/seeDrives" class="nav__link">View all drives</a></li>
                <li class="nav__item"><a href="/seeClients" class="nav__link">View all clients</a></li>
                <li class="nav__item"><a href="/addDrive" class="nav__link">Add drive</a></li>
                <li class="nav__item"><a href="/addOffence" class="nav__link">Offences</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="home">
    <div class="container">
        <div class="task-heading">Offence</div>
        <table class="table">
            <tr>
                <th>Id</th>>
                <th>Fine</th>
                <th>Date</th>

            </tr>
            <div th:each="el : ${offences}">
                <tr>
                    <td><p th:text="${el.offenceId}"/></td>
                    <td><p th:text="${el.fine}"/></td>
                    <td><p th:text="${el.date}"/></td>
                    <td>
                    </td>
                </tr>
            </div>
        </table>

        Average Fine is: <p th:text="${avOffence}"/>
    </div>
</div>
</body>
</html>